.hg_grey {
    background: rgba(255, 255, 255, 0.2);
}

.hg_folded {
    background: rgba(red, 0, 0, 0.1);
}

#bets {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: auto;
}
.left {
    display: inline;
    border: 2px solid black;
    border-radius: 15px;
    width: 15%;
    position: absolute;
    left: 10px;
    top: 10px;
    height: 80%;
}

.main {
    display: inline;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 75%;
    top: 10px;
    left: 20%;
    height: 80%;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    overflow: hidden;
}

.public {
    height: 95% !important;
}

.bottom {
    display: inline;
    position: absolute;
    top: 82%;
    left: 20%;
    width: 75%;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
}

.player {
    margin: 5px;
    margin-bottom: 50px;
}

.player-cam {
    width: 450px;
    height: 250px;
    padding: 0px;
    margin: 0px;
    background-color: black;
}

.player-infos {
    position: absolute;
    margin-top: -6px;
    background-color: black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 450px;
    height: 50px;
    font-size: medium;
}

.player-infos div {
    display: inline;
    border-radius: 10px;
}

.chips {
    margin-top: 7.5px;
    position: absolute;
    margin-left: 10px;
    width: 75px;
    background-color: green;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.schaetzung {
    margin-top: 7.5px;
    position: absolute;
    margin-left: 112.5px;
    width: 225px;
    background-color: green;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.einsatz {
    margin-top: 7.5px;
    position: absolute;
    margin-left: 365px;
    width: 75px;
    background-color: green;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

@media screen and (min-width: 1920px) {
    .left {
        width: 18%;
    }

    .player {
        margin: 5px;
        margin-bottom: 75px;
    }

    .player-cam {
        width: 600px;
        height: 340px;
    }

    .player-infos { 
        width: 600px;
        height: 60px;
        font-size: large;
    }

    .chips {
        margin-left: 10px;
        width: 100px;
    }

    .schaetzung {
        margin-left: 140px;
        width: 325px;
    }

    .einsatz {
        margin-left: 490px;
        width: 100px;
    }
}